/*
marron : #E0C289;
marron foncé : #7C493E;
dark grey : #5F5F5F;
light grey : #888888;
black
white
*/

html p {
  color: #999;
}


/*================ HEADER ==============*/
.head-main{
	text-align:center;
}
.header-top{
	padding:2em 0px;
}

header #one a {
  color: #E0C289;
  font-size: 1.07em;
padding-right: 30px;
}

.search input[type="text"] {
    width: 100%;
    padding: 8px 45px 8px 8px;
    border: none;
    background: none;
    -webkit-appearance: none;
    font-size: 0.875em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway-Regular';
}

.search input[type="submit"] {
    background: url(../img/search.png)no-repeat 0px 0px;
    border: 0;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 24px;
    top: 15px;
    right: 7%;
}

.welcome {
  padding: 200px;
  background: url("../img/image.png") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  letter-spacing: 10px;
  font-size: 30px;
}

.welcome h1:hover {
color: #E0C289;
}

.welcome h1 {
  color: #5F5F5F;
}

.arrow-down a {
color: #5F5F5F;
margin-left: 100px;
}

.arrow-down a:hover {
transition: color 0.3s linear;
color: #E0C289;
}

/*================= ARTICLES CARDS ============*/

.container .card {
  border: none;
}

.container .btn {
  background-color: #E0C289;
  border-color: #E0C289;
  border-radius: 1px;
}

.container .btn:hover {
  background-color: #7C493E;
  border: #7C493E;
}

/*================= BLOG ===================*/

.blog h4,p {
  color: #7C493E;
}

.blog span {
  color: black;
}

/*================= ASIDE ===================*/
#aside {
  background-color: #E0C289;
  border-color: #E0C289;
}

#aside:hover {
  background-color: #7C493E;
  border: #7C493E;
}

.navigation a {
  color: #7C493E;
}

.card-block img {
  width: 90px;
  height: 90px;
}

.card-block h6 {
  color: #7C493E;
}

/*-- newsletter --*/
.newsletter {
  padding: .5em;
  border: 1px solid #C34C21;
  margin: 2em 0;
}
.newsletter h3,.pgs h3,.footer-grid h3{
	font-size: 25px;
	margin:.5em 0 1em;
	color: #c34c21;
	text-transform: capitalize;
}
.newsletter input[type="text"]{
	outline:none;
	border:1px solid #999;
	font-size:14px;
	color:#000;
	width:100%;
	padding:10px 10px;
	background:none;
	margin-bottom: 2em;
}
.newsletter input[type="submit"]{
	border:none;
	width:40%;
	margin: 0 0 0.5em 10.3em;
	background: #E0C289;
	font-size: 17px;
	padding: 8px 0px;
  color: white;
}

.newsletter input[type="submit"]:hover{
  background-color: #7C493E;
}


/*=============== ABOUT ==================*/

#about img {
  /*display: inline-block;*/
  height: 33vh;
}

#about h1 {
  color: #7C493E;
}

/*================ FOOTER ==============*/
footer .footer-below {
  padding: 25px 0;
  background-color: #F8F8F8;
}

footer p {
  color: #7C493E;
}


/*$$$$$$$$$$$$$$ DESKTOP $$$$$$$$$$$$$*/
@media (max-width: 991px){
  #welcome {
    display: none;
  }

}



/*++++++++++++++++++ PRODUIT PAGE +++++++++++++++*/

#list {
 list-style-type: none;
 display: inline-flex;
}

.loreal p {
  text-align: justify;
}

.single-grid h4 {
  color: #7C493E;
}

.uv {
  width: 1000px;
  height: 350px;
}




/* **************** */
#interwebz-wrapper {
display:block;
width:245px;
border-bottom: 1px solid #AAAAAD;
border-top:none;
margin-left:10px;
}
.interwebz {
list-style:none;
margin:0;
padding:10px 0;
width:auto;
overflow:hidden;
border-top: 1px solid #AAAAAD;
}
.interwebz li {
display: inline-block;
border:none;
padding: 6px;
}
.interwebz li:last-child{margin:0}
.aligncenter{
text-align:center;
}

.icon-pinterest a, .icon-instagram a, .icon-facebook a, .icon-gplus a, .icon-lastfm a, .icon-feed a, .icon-skype a, .icon-twitter a, .icon-youtube a {
float:left;
background:url(http://1.bp.blogspot.com/-YFA6X0-Nh7c/VOtpi_POZKI/AAAAAAAAAX8/8feLvDIfNUg/s1600/social-media2.png) no-repeat left bottom;
text-indent:-9999px;
width:32px;
height:32px;
-o-transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
}
.icon-pinterest a:hover, .icon-instagram a:hover, .icon-facebook a:hover, .icon-gplus a:hover, .icon-lastfm a:hover, .icon-feed a:hover, .icon-skype a:hover, .icon-twitter a:hover, .icon-youtube a:hover {
background:url(http://1.bp.blogspot.com/-YFA6X0-Nh7c/VOtpi_POZKI/AAAAAAAAAX8/8feLvDIfNUg/s1600/social-media2.png) no-repeat left top;
-o-transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
}
/* Pinterest */
.icon-pinterest, .icon-pinterest a {
background-position: 0px bottom;
}
.icon-pinterest:hover, .icon-pinterest a:hover {
background-position: 0px top;
}
/* Instagram */
.icon-instagram, .icon-instagram a {
background-position:-32px bottom;
}
.icon-instagram:hover, .icon-instagram a:hover {
background-position:-32px top;
}
/* Facebook */
.icon-facebook, .icon-facebook a {
background-position:-64px bottom;
}
.icon-facebook:hover, .icon-facebook a:hover {
background-position:-64px top;
}

/* Twitter */
.icon-twitter, .icon-twitter a {
background-position:-224px bottom;
}
.icon-twitter:hover, .icon-twitter a:hover {
background-position:-224px top;
}

/* Youtube */
.icon-youtube, .icon-youtube a {
background-position:-256px bottom;
}
.icon-youtube:hover, .icon-youtube a:hover {
background-position:-256px top;
}
