/*
marron : #E0C289;
dark grey : #5F5F5F;
light grey : #888888;
black
white
*/



/*================ HEADER ==============*/
.head-main{
	text-align:center;
}
.header-top{
	padding:2em 0px;
}

header #one a {
  color: #E0C289;
  font-size: 1.07em;
padding-right: 30px;
}

.search input[type="text"] {
    width: 100%;
    padding: 8px 45px 8px 8px;
    border: none;
    background: none;
    -webkit-appearance: none;
    font-size: 0.875em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway-Regular';
}

.search input[type="submit"] {
    background: url(../img/search.png)no-repeat 0px 0px;
    border: 0;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 24px;
    top: 15px;
    right: 7%;
}

.welcome {
  padding: 200px;
  background: url("../img/image.png") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  letter-spacing: 10px;
  font-size: 30px;
}

.welcome h1:hover {
color: #E0C289;
}

.welcome h1 {
  color: #5F5F5F;
}

.arrow-down a {
color: #5F5F5F;
margin-left: 100px;
}

.arrow-down a:hover {
transition: color 0.3s linear;
color: #E0C289;
}

/*================= ARTICLES CARDS ============*/

.container .card {
  border: none;
}

.container .btn {
  background-color: #E0C289;
  border-color: #E0C289;
  border-radius: 1px;
}

.container .btn:hover {
  background-color: #7C493E;
  border: #7C493E;
}



/*================ CHRONO ==============*/

.chrono #chronotime {
  height: 60px;
  display: flex;
  justify-content: center;
}

/*============== ARTICLES CARDS ===============*/
/*#articles{
  background: #fff;
  position: relative;
  margin: 5% auto;
  width: 100%;
  max-width: 900px;
  background-color: #ecf0f1;
  height: 100%;
  overflow-x: hidden;
}*/

/*.firstArticle {
  width: 50%;
}*/

#articles .carte {
  border: none;
}

#articles .first {
  border-bottom: 1px solid #888888;
  border-radius: 0;
}

.photo {
  float: left;
}

/*!!!!!!!!!!!!ASIDE!!!!!!!!!!!!!!!*/
aside {
  border: 1px solid #5F5F5F;
  border-radius: 2px;
  margin-left: 50px;
}

/*$$$$$$$$$$$$$$ DESKTOP $$$$$$$$$$$$$*/
@media (max-width: 991px){
  #welcome {
    display: none;
  }

}
